* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    max-width: 400px;
    padding: 30px;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #a65ae9;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #242424;
    color: #fcfcfc;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
}
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 1px solid #a65ae9;
}
button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a65ae9;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}
button[type="submit"]:hover {
    background-color: #8547bb;
}
.error {
    color: #e74c3c; /* Bright red for error messages */
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
.note {
    margin-top: 10px;
    font-size: 14px;
    color: #fcfcfc;
}
.note .link {
    color: #a65ae9;
    text-decoration: none;
}
.note .link:hover {
    text-decoration: underline;
}